<div class="box box-primary col-lg-6">
  <div class="box-header with-border ">
    <h3 class="box-title">New Kentrade</h3>
	<%= link_to 'Cencel', kentrades_path, class: "pull-right btn btn-info btn-sm" %>
  </div>
  <div class="box-body">
	<%= render 'form' %>
  </div>
</div>