<div class="box box-primary col-lg-6">
  <div class="box-header with-border ">
    <h3 class="box-title">New Order COnfirmation</h3>
	<%= link_to 'Cancel', order_confirmations_path, class: "pull-right btn btn-info btn-sm" %>
  </div>
  <div class="box-body">
	<%= render 'form' %>
	<%= link_to 'Back', order_confirmations_path %>
  </div>
</div>