
						<p id="notice"><%= notice %></p>
						<p>
						  <strong>Business classification:</strong>
						  <%= @business_classification.business_classification %>
						</p>
						<%= link_to 'Edit', edit_business_classification_path(@business_classification) %> |
						<%= link_to 'Back', business_classifications_path %>
