@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


.round-image-50 {
    background-color: white;
    border: 2px solid #d9d9d9;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
    margin-top:3px;
}

